:host {
  --cyan: rgba(0, 157, 224, 1.0);
  --cyan-three-quarter-transparent: rgba(0, 157, 224, 0.25);
  --gray: rgba(128, 128, 128, 1.0);
  --gray-semi-transparent: rgba(128, 128, 128, 0.5);
  --short: 250ms;
  --long: 500ms;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.hidden {
  display: none;
}
header h1 {
  position: relative;
  margin: 0.25em 0 0 0;
  font-size: 3em;
  font-family: 'Arvo', sans-serif;
  letter-spacing: 0.05em;
}
header h1 span#first-o,
header h1 span#second-o {
  display: inline-block;
  color: transparent;
}
header h1 span#first-o::before,
header h1 span#second-o::before {
  content: '';
  display: inline-block;
  margin: 0 -0.6em 0 0;
  border-radius: 50%;
  box-sizing: border-box;
  width: 0.55em;
  height: 0.55em;
}
header h1 span#first-o::before {
  border: 0.12em solid var(--cyan);
  background: transparent;
}
header h1 span#second-o::before {
  background: var(--cyan);
}
header h1::after {
  content: '';
  position: absolute;
  margin: 0 0 0 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url('/stencil-to-do-list/build/img/stencil.svg') no-repeat;
}
header h2 {
  margin: 0;
}
header h2.done {
  display: inline-block;
  background: linear-gradient(to right, transparent 0, currentcolor 0) no-repeat right center / 100% 0.1em;
  color: var(--gray);
}
header button#toggle-all {
  all: unset;
  position: relative;
  top: 1.75em;
  justify-content: space-around;
  display: flex;
  opacity: 1;
  transition: opacity var(--short) ease-in-out var(--short), transform var(--short) ease-in-out var(--short);
  margin: 0 0 0 0.5em;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
header button#toggle-all::before,
header button#toggle-all::after {
  content: '';
  position: absolute;
  border-radius: 0.1em;
  width: 0.2em;
  height: 1em;
  background: var(--cyan);
}
header button#toggle-all::before {
  transform: translate(20%) rotate(-45deg);
  transform-origin: bottom right;
}
header button#toggle-all::after {
  transform: translate(-20%) rotate(45deg);
  transform-origin: bottom left;
}
header button#toggle-all.hide {
  opacity: 0;
  transform: rotate(-90deg);
}
input[type=text] {
  position: relative;
  transition: margin var(--short) ease-in-out var(--short), width var(--short) ease-in-out var(--short);
  border: 0.15em solid var(--cyan-three-quarter-transparent);
  border-radius: 0.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  font-family: inherit;
  outline: none;
}
input[type=text]:focus {
  border-color: var(--cyan);
}
header input[type=text].shrink {
  margin: 0 0 0 10%;
  width: 90%;
}
section.to-do-list ul.to-do-list {
  padding: 0;
  text-align: start;
  list-style: none;
}
section.to-do-list ul.to-do-list li {
  position: relative;
  transition: opacity var(--long) ease-in-out, outline-color var(--short) ease-in-out;
  padding: 0.5em;
  outline: transparent dashed 0.1em;
  border-radius: 0.5em;
}
section.to-do-list ul.to-do-list li:hover {
  outline: var(--gray-semi-transparent) dashed 0.1em;
}
section.to-do-list ul.to-do-list li input[type=checkbox].select {
  appearance: none;
  position: relative;
  bottom: 0.1em;
  transition: background var(--long) ease-in-out, border var(--long) ease-in-out;
  margin: 0 0.5em 0 0;
  cursor: pointer;
  font-size: inherit;
  vertical-align: middle;
}
section.to-do-list ul.to-do-list li.pending input[type=checkbox].select,
section.to-do-list ul.to-do-list li.done input[type=checkbox].select {
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
}
section.to-do-list ul.to-do-list li.pending input[type=checkbox].select {
  border: 0.2em solid var(--cyan);
  background: transparent;
}
section.to-do-list ul.to-do-list li.done input[type=checkbox].select {
  border: 0.5em solid var(--cyan);
  background: var(--cyan);
}
section.to-do-list ul.to-do-list li.hide {
  opacity: 0;
}
section.to-do-list ul.to-do-list li label.text {
  --strikethrough: 0;
  transition: background-size var(--long) ease-in-out, color var(--long) ease-in-out;
  background: linear-gradient(to right, transparent 0, currentcolor 0) no-repeat right center / calc(var(--strikethrough) * 100%) 0.1em;
  background-position-x: left;
  cursor: text;
  word-break: break-all;
}
section.to-do-list ul.to-do-list li.done label.text {
  --strikethrough: 1;
  color: var(--gray);
}
section.to-do-list ul.to-do-list li button.delete {
  all: unset;
  position: absolute;
  bottom: 0.6em;
  right: 0;
  justify-content: space-around;
  display: flex;
  opacity: 0;
  transition: opacity var(--short) ease-in-out;
  margin: 0 0.5em 0 0;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
section.to-do-list ul.to-do-list li button.delete::before,
section.to-do-list ul.to-do-list li button.delete::after {
  content: '';
  position: absolute;
  border-radius: 0.1em;
  width: 0.2em;
  height: 1em;
  background: var(--cyan);
}
section.to-do-list ul.to-do-list li button.delete::before {
  transform: rotate(45deg);
}
section.to-do-list ul.to-do-list li button.delete::after {
  transform: rotate(-45deg);
}
section.to-do-list ul.to-do-list li:hover button.delete {
  opacity: 1;
}
section.to-do-list ul.to-do-list li input[type=text] {
  width: calc(100% - 1.5em);
}
footer {
  margin: 1em 0 3em 0;
}
footer span#count {
  position: relative;
  float: left;
  opacity: 1;
  transition: opacity var(--long) ease-in-out;
  padding: 0;
  color: var(--gray);
}
footer span#count.hide {
  opacity: 0;
}
footer ul.filters {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul.filters li {
  display: inline;
}
footer ul.filters li a:hover {
  outline: var(--gray-semi-transparent) solid 0.1em;
  border-radius: 0.25em;
}
footer a {
  padding: 0.1em 0.2em;
  cursor: pointer;
  text-decoration: none;
  color: var(--cyan);
}
footer a.selected {
  outline: var(--gray) solid 0.1em;
  border-radius: 0.25em;
}
footer button#clear,
footer button#yes,
footer button#no {
  all: unset;
  cursor: pointer;
  color: var(--cyan);
}
footer button#clear,
footer span#confirmation {
  position: relative;
  float: right;
  opacity: 1;
  transition: opacity var(--long) ease-in-out;
  padding: 0;
}
footer button#clear:hover,
footer button#yes:hover,
footer button#no:hover {
  text-decoration: underline;
  text-decoration-color: var(--gray-semi-transparent);
}
footer button#clear.hide {
  opacity: 0;
}
footer button#clear.hidden {
  display: none;
}